html {
  font-family: sans-serif;
}

.hello1 {
  font-size: 50px;
  color: red;
}

.hello2 {
  font-size: 50px;
  color: yellow;
}

.hello3 {
  font-size: 50px;
  color: cornflowerblue;
}

.hello4 {
  font-size: 50px;
  color: rosybrown;
}
