<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="{{ staticBasePath }}chatInterface.css">
</head>
<body>
<div id='chat-message-list'>
  <div class='message-row other-message'>
    <div class='message-content'>
      <img src='' alt='pic of other'>
      <div class='message-text'>test</div>
      <div class='message-time'>Apr 19</div>
    </div>
  </div>
  <div class='message-row you-message'>
    <div class='message-content'>
      <div class='message-text'>test</div>
      <div class='message-time'>Apr 19</div>
    </div>
  </div>
</div>
</body>
</html>
