<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatsList</title>
    <link rel="stylesheet"
          href="{{ staticBasePath }}chatsList.css">
</head>
<body>
<div class="chatsList">
    <div class="topMenuLine">
        <div class="hamburgerIcon">
            <span class="hamburgerIconLine"></span>
            <span class="hamburgerIconLine"></span>
            <span class="hamburgerIconLine"></span>
        </div>

        <label>
            <input class="searchInput" type="text" placeholder="Search">
        </label>
    </div>

    <ul class="chatsPreviews">
        <li class="chatPreview chatPreviewSelected">
            <img class="chatPreviewImage"
                 src="https://www.dhresource.com/0x0/f2/albu/g4/M00/8B/21/rBVaEVoJKxSANUbuAAL1JMz9swk853.jpg/kermit-the-frog-the-muppet-show-14-039-039.jpg">
            <div class="chatPreviewText">
                <div class="chatPreviewTitle">
                    <span class="chatPreviewName">Тарасов Денис</span>
                    <span class="chatPreviewDate">11.04.21</span>
                </div>
                <div class="messagePreview">
                        <span class="messagePreviewText">
                            <span class="messagePreviewAuthor">You:</span>
                            После этих исправлений уже можно заливать или еще раз тебе написать?</span>
                </div>
            </div>
        </li>
        <li class="chatPreview">
            <img class="chatPreviewImage"
                 src=" https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3">
            <div class="chatPreviewText">
                <div class="chatPreviewTitle">
                    <span class="chatPreviewName">Галеева Полина</span>
                    <span class="chatPreviewDate">11.04.21</span>
                </div>
                <div class="messagePreview">
                    <span class="messagePreviewText">Привет</span>
                    <div class="messagePreviewCount">1</div>
                </div>
            </div>
        </li>
        <li class="chatPreview">
            <img class="chatPreviewImage"
                 src="https://www.dhresource.com/0x0/f2/albu/g4/M00/8B/21/rBVaEVoJKxSANUbuAAL1JMz9swk853.jpg/kermit-the-frog-the-muppet-show-14-039-039.jpg">
            <div class="chatPreviewText">
                <div class="chatPreviewTitle">
                    <span class="chatPreviewName">Человек1</span>
                    <span class="chatPreviewDate">11.04.21</span>
                </div>
                <div class="messagePreview">
                        <span class="messagePreviewText">
                            <span class="messagePreviewAuthor">You:</span>
                            После этих исправлений уже можно заливать или еще раз тебе написать?</span>
                </div>
            </div>
        </li>
        <li class="chatPreview">
            <img class="chatPreviewImage"
                 src="https://www.dhresource.com/0x0/f2/albu/g4/M00/8B/21/rBVaEVoJKxSANUbuAAL1JMz9swk853.jpg/kermit-the-frog-the-muppet-show-14-039-039.jpg">
            <div class="chatPreviewText">
                <div class="chatPreviewTitle">
                    <span class="chatPreviewName">Человек2</span>
                    <span class="chatPreviewDate">11.04.21</span>
                </div>
                <div class="messagePreview">
                        <span class="messagePreviewText">
                            <span class="messagePreviewAuthor">You:</span>
                            После этих исправлений уже можно заливать или еще раз тебе написать?</span>
                </div>
            </div>
        </li>
        <li class="chatPreview">
            <img class="chatPreviewImage"
                 src="https://www.dhresource.com/0x0/f2/albu/g4/M00/8B/21/rBVaEVoJKxSANUbuAAL1JMz9swk853.jpg/kermit-the-frog-the-muppet-show-14-039-039.jpg">
            <div class="chatPreviewText">
                <div class="chatPreviewTitle">
                    <span class="chatPreviewName">Человек3</span>
                    <span class="chatPreviewDate">11.04.21</span>
                </div>
                <div class="messagePreview">
                        <span class="messagePreviewText">
                            <span class="messagePreviewAuthor">You:</span>
                            После этих исправлений уже можно заливать или еще раз тебе написать?</span>
                </div>
            </div>
        </li>
        <li class="chatPreview">
            <img class="chatPreviewImage"
                 src="https://www.dhresource.com/0x0/f2/albu/g4/M00/8B/21/rBVaEVoJKxSANUbuAAL1JMz9swk853.jpg/kermit-the-frog-the-muppet-show-14-039-039.jpg">
            <div class="chatPreviewText">
                <div class="chatPreviewTitle">
                    <span class="chatPreviewName">Человек4</span>
                    <span class="chatPreviewDate">11.04.21</span>
                </div>
                <div class="messagePreview">
                        <span class="messagePreviewText">
                            <span class="messagePreviewAuthor">You:</span>
                            После этих исправлений уже можно заливать или еще раз тебе написать?</span>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>