<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="{{ staticBasePath }}index.css">
</head>
<body>
    <p class="hello1">Hello<p>
	<p class="hello2">Привет<p>
    <p class="hello3">Тест<p>
    <p class="hello4">Dev<p>
</body>
</html>